body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: grid;
    background-color: #4286f4;
    color: white;
    width:100%;
    max-width: 100vw;

}
h1{
    font-family: 'Pacifico', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}
#gotoOptions {
    position: absolute;
    top:1em;
    right:1em;
}
table{
    display: block;
    overflow:auto;
    align-content: center;
    margin: auto;
}
td{
    margin: 0;
    padding: 0;
}